ion-view
    ion-nav-title {{ 'ui.home.title' | translate }}
    ion-content(style="background-color: #eee;")
        ion-refresher(pulling-text="Pull to refresh" on-refresh="postsCtrl.refresh()")
        .list.card(ng-repeat="item in postsCtrl.items track by $index" ui-sref="base.post(::{ id: $index })")
            .item.item-avatar
                h2 {{::item.name}}
            .item.item-body
                p(ng-bind-html="::item.description")