ion-side-menus(enable-menu-with-back-views="true")
    ion-side-menu-content
        ion-nav-bar.bar-positive
            ion-nav-back-button
            ion-nav-buttons(side="left")
                button.button.button-clear(menu-toggle="left")
                    i.icon.ion-navicon-round
        ion-nav-view(name="content")
    ion-side-menu(side="left" ui-view="menu")