ion-view
    ion-header-bar.bar-positive
        h1.title Menu
    ion-content
        ion-list
            ion-item.item.item-icon-left(nav-clear menu-close ui-sref="root.home" ui-sref-active="active")
                i.icon.ion-home Home